<section>
    <h1 class="text-center text-main my-2">Forgot Password</h1>

    @if (step === 1) {
        <form [formGroup]="verifyEmail" class="bg-main-light shadow p-4 my-2 rounded-4" (ngSubmit)="verifyEmailSubmit()">
            <div class="my-2">
                <label for="email">Email:</label>
                <input 
                [ngClass]="{'is-valid':!verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty) , 'is-invalid':verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)}"
                formControlName="email" id="email" type="email" class="form-control">
                @if (verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)) {
                    <div class="alert alert-danger w-50">
                        @if (verifyEmail.get('email')?.getError('required')) {
                            <p class="m-0">Email is Required</p>
                        }
                        @else if (verifyEmail.get('email')?.getError('email')) {                            
                            <p class="m-0">Enter Valid Email</p>
                        }
                    </div>
                }
            </div>

            <button [disabled]="isLoading" type="submit" class="btn-main d-block ms-auto">
                Verify Email
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
            @if (msgSuccess) {
                <p class="text-main w-50 m-0">{{msgSuccess}}</p>
            }
            @if (msgError) {
                <p class="alert alert-danger  w-50 m-0">{{msgError}}</p>
            }
        </form>
    }
    @else if (step === 2) {
        <form [formGroup]="verifyResetCode" class="bg-main-light shadow p-4 my-2 rounded-4" (ngSubmit)="verifyCodeSubmit()">
            <div class="my-2">
                <label for="resetCode">resetCode:</label>
                <input 
                [ngClass]="{'is-valid':!verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty) , 'is-invalid':verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty)}"
                formControlName="resetCode" id="resetCode" type="text" class="form-control">

                @if (verifyResetCode.get('resetCode')?.errors && (verifyResetCode.get('resetCode')?.touched || verifyResetCode.get('resetCode')?.dirty)) {
                    <div class="alert alert-danger w-50">
                        @if (verifyResetCode.get('resetCode')?.getError('required')) {
                            <p class="m-0">Code is Required</p>
                        }
                        @else if (verifyResetCode.get('resetCode')?.getError('pattern')) {                            
                            <p class="m-0">Enter Valid Code</p>
                        }
                    </div>
                }
            </div>

            <button [disabled]="isLoading" type="submit" class="btn-main d-block ms-auto">
                Verify Code
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
            @if (msgSuccess) {
                <p class="text-main w-50 m-0">{{msgSuccess}}</p>
            }
            @if (msgError) {
                <p class="alert alert-danger  w-50 m-0">{{msgError}}</p>
            }
        </form>
    }
    @else if (step === 3) {      
        <form [formGroup]="resetPassword" class="bg-main-light shadow p-4 my-2 rounded-4" (ngSubmit)="resetPasswordSubmit()">
            <div class="my-2">
                <label for="email">Email:</label>
                <input 
                [ngClass]="{'is-valid':!resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty) , 'is-invalid':resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)}"
                formControlName="email" id="email" type="email" readonly class="form-control">

                @if (resetPassword.get('email')?.errors && (resetPassword.get('email')?.touched || resetPassword.get('email')?.dirty)) {
                    <div class="alert alert-danger w-50">
                        @if (resetPassword.get('email')?.getError('required')) {
                            <p class="m-0">Email is Required</p>
                        }
                        @else if (resetPassword.get('email')?.getError('email')) {                            
                            <p class="m-0">Enter Valid Email</p>
                        }
                    </div>
                }
            </div>

            <div class="my-2">
                <label for="newPassword">newPassword:</label>
                <input 
                [ngClass]="{'is-valid':!resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty) , 'is-invalid':resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)}"
                formControlName="newPassword" id="newPassword" type="password" class="form-control">

                @if (resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)) {
                    <div class="alert alert-danger w-50">
                        @if (resetPassword.get('newPassword')?.getError('required')) {
                            <p class="m-0">newPassword is Required</p>
                        }
                        @else if (resetPassword.get('newPassword')?.getError('pattern')) {                            
                            <p class="m-0">Must be at least 6 chars</p>
                        }
                    </div>
                }
            </div>

            <button [disabled]="isLoading" type="submit" class="btn-main d-block ms-auto">
                Verify Email
                @if (isLoading) {
                    <span><i class="fas fa-spin fa-spinner"></i></span>
                }
            </button>
            @if (msgSuccess) {
                <p class="text-main w-50 m-0">{{msgSuccess}}</p>
            }
            @if (msgError) {
                <p class="alert alert-danger  w-50 m-0">{{msgError}}</p>
            }
        </form>
    }





</section>