<section class="my-5">
    <input type="text" placeholder="Search By Name..." class="form-control w-50 mx-auto my-4" [(ngModel)]="text">

    <div class="container">
        <div class="row g-4">
            @for (cat of categoriesList() | search : text ; track cat._id) {
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-4">
                    <div [routerLink]="['/categoryDetails',cat._id]" class="product p-2 cursor-pointer">
                        <img [src]="cat.image" class="w-100" height="300px" [alt]="cat.name">
                        <h1 class="h6 text-main fw-bold text-center mt-2">{{cat.name}}</h1>
                    </div>
                </div>
            }
        </div>
    </div>
</section>