@if (wishlistCheck) {

    <section class="w-75 bg-main-light shadow p-2 my-2 rounded-4 mx-auto">
        <h1 class="text-main mb-5">Your Wishlist:</h1>
        @for (product of productList(); track product.id) {
            <div class="row mb-1 border-bottom">
                <div class="col-md-1">
                    <div>
                        <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                    </div>
                </div>
                <div class="col-md-11">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-5">
                            <div>
                                <h5>{{product.title}}</h5>
                                <div>
                                    @for (num of [1,2,3,4,5].slice(0 , product.ratingsAverage); track $index) {
                                        <span><i class="fas fa-star rating-color"></i></span>
                                    }
                                    @if (product.ratingsAverage % 1 !==0) {
                                        <i class="fa-solid fa-star-half-stroke rating-color"></i>
                                    }
                                    <span class="text-muted">{{product.ratingsAverage}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex justify-content-between align-items-center">
                            <p>price: {{product.price}}</p>
                            <button class="btn-main" (click)="addToCart(product.id)">Add to Cart</button>
                            <button (click)="removeItem(product._id)" class="btn btn-outline-danger btn-sm" ><i class="fa-regular fa-trash-can del-main pe-1"></i>Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
}
@else {
    <section class="w-75 bg-main-light shadow p-2 my-2 rounded-4 mx-auto">
        <h1 class="text-center text-main">Your Wishlist is Empty</h1>
    </section>
}