<section class="bg-main-light shadow p-2 my-2 rounded-4 w-75 mx-auto">
    <h1 class="h2 text-main">Change Password Now:</h1>

    <form [formGroup]="changePasswordForm" (ngSubmit)="changeSubmit()">

        <div class="my-2">
            <label for="currentPassword">currentPassword:</label>
            <input
            [ngClass]="{'is-valid': !changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.get('currentPassword')?.dirty) , 'is-invalid':changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.get('currentPassword')?.dirty)}" 
            id="currentPassword" type="password" class="form-control" formControlName="currentPassword">

            @if (changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.get('currentPassword')?.dirty)) {
                <div class="alert alert-danger w-50">
                    @if (changePasswordForm.get('currentPassword')?.getError('required')) {
                        <p class="m-0">current password is Required</p>
                    }
                    @else if (changePasswordForm.get('currentPassword')?.getError('pattern')) {
                        <p class="m-0">Must be at least 6 chars</p>
                    }
                </div>
            }
        </div>

        <div class="my-2">
            <label for="password">password:</label>
            <input
            [ngClass]="{'is-valid': !changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty) , 'is-invalid':changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty)}" 
            id="password" type="password" class="form-control" formControlName="password">

            @if (changePasswordForm.get('password')?.errors && (changePasswordForm.get('password')?.touched || changePasswordForm.get('password')?.dirty)) {
                <div class="alert alert-danger w-50">
                    @if (changePasswordForm.get('password')?.getError('required')) {
                        <p class="m-0">password is Required</p>
                    }
                    @else if (changePasswordForm.get('password')?.getError('pattern')) {
                        <p class="m-0">Must be at least 6 chars</p>
                    }
                </div>
            }
        </div>

        <div class="my-2">
            <label for="rePassword">rePassword:</label>
            <input
            
            id="rePassword" type="password" class="form-control" formControlName="rePassword">

            @if (changePasswordForm.getError('mismatch') && (changePasswordForm.get('rePassword')?.touched || changePasswordForm.get('rePassword')?.dirty)) {
                <div class="alert alert-danger w-50">
                   <p class="m-0">Password confirmation is incorrect</p>
                </div>
            }
        </div>


        <button [disabled]="isloading" type="submit" class="btn btn-main d-block ms-auto">
            Change
            @if (isloading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>

    </form>
</section>